/* 1. LAYOUT E CARDS DE ATRIBUTOS */
#attributesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.attributeGroup {
    flex: 1 1 300px;
    border: 1px solid #333 !important;
    border-radius: 6px;
    padding: 12px;
    background-color: var(--bg-fieldset) !important; 
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.attributeRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.attribute-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.attribute-left label {
    width: 80px;
    white-space: nowrap;
    color: var(--text-color);
}

.attribute-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.attributeRow input[type="number"] {
    width: 45px;
    text-align: center;
    padding: 3px;
    background-color: var(--bg-inputs);
    color: var(--text-color);
    border: 1px solid #444;
    border-radius: 4px;
}

.diceToRoll {
    text-align: right;
    font-weight: bold;
    min-width: 85px;
    font-size: 0.9rem;
    color: var(--accent-color);
}

    .dice-neutral {
        color: #a3a3a3;
    }

    .dice-positive {
        color: var(--accent-color);
    }

    .dice-negative {
        color: #c00101;
    }

.conditionBox {
    text-align: center;
    padding: 8px;
    background-color: var(--bg-inputs) !important;
    border-radius: 4px;
    border-top: 1px solid #444 !important;
    color: var(--text-color);
    margin-top: 5px;
}